<div class="container-fluid">
    <form #goalForm='ngForm' >
        <div class="form-group">
            <input type="text" required class="form-control" id="name" [(ngModel)]="newGiphy.name" name="name" #name='ngModel' >
            <!-- Testing to see if we get any data -->
            Display {{newGiphy.name}}
              <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                <p>Name is required</p></div>
                
        </div>
    </form>
    <button type="submit" class="btn btn-success">Search</button>
</div>
